<a href="https://colab.research.google.com/github/DigvijayPhutane/Python_training/blob/main/datasciencephn_task1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
import csv
import pandas as pd

# sample data for car_models.csv
data = [['Honda', 'Civic', 'Petrol', 'Sedan', 4650],
        ['Toyota', 'Corolla', 'Petrol', 'Sedan', 4700],
        ['Ford', 'Mustang', 'Gas', 'Sports', 4780],
        ['Chevrolet', 'Camaro', 'Gas', 'Sports', 4800]]

# write sample data to car_models.csv
with open('car_models.csv', 'w', newline='') as file:
    writer = csv.writer(file)
    writer.writerow(['Company Name', 'Model Name', 'Fuel Type', 'Body Style', 'Car Length'])
    writer.writerows(data)

# sample data for car_loan.xlsx
data = {
    'Company Name': ['Honda', 'Toyota', 'Ford', 'Chevrolet'],
    'Model Name': ['Civic', 'Corolla', 'Mustang', 'Camaro'],
    'On road pricing': [25000, 27000, 30000, 35000],
    'Loan amount': [20000, 22000, 25000, 30000],
    'Monthly EMI': [500, 550, 625, 750],
    'Interest Rate': [5.5, 6, 6.5, 7],
    'Monthly Principal': [400, 440, 500, 600],
    'Monthly Interest': [100, 110, 125, 150]
}

# write sample data to car_loan.xlsx
df = pd.DataFrame(data)
df.to_excel('car_loan.xlsx', index=False)

In [23]:
# read the CSV file into a DataFrame
car_models_df = pd.read_csv('car_models.csv')

# read the Excel file into a DataFrame
car_loan_df = pd.read_excel('car_loan.xlsx')

print(car_models_df)

print(car_loan_df)

  Company Name Model Name Fuel Type Body Style  Car Length
0        Honda      Civic    Petrol      Sedan        4650
1       Toyota    Corolla    Petrol      Sedan        4700
2         Ford    Mustang       Gas     Sports        4780
3    Chevrolet     Camaro       Gas     Sports        4800
  Company Name Model Name  On road pricing  Loan amount  Monthly EMI  \
0        Honda      Civic            25000        20000          500
1       Toyota    Corolla            27000        22000          550
2         Ford    Mustang            30000        25000          625
3    Chevrolet     Camaro            35000        30000          750

   Interest Rate  Monthly Principal  Monthly Interest
0            5.5                400               100
1            6.0                440               110
2            6.5                500               125
3            7.0                600               150

In [28]:
merged_df = pd.merge(car_models_df, car_loan_df, on='Model Name')
print(merged_df)

  Company Name_x Model Name Fuel Type Body Style  Car Length Company Name_y  \
0          Honda      Civic    Petrol      Sedan        4650          Honda
1         Toyota    Corolla    Petrol      Sedan        4700         Toyota
2           Ford    Mustang       Gas     Sports        4780           Ford
3      Chevrolet     Camaro       Gas     Sports        4800      Chevrolet

   On road pricing  Loan amount  Monthly EMI  Interest Rate  \
0            25000        20000          500            5.5
1            27000        22000          550            6.0
2            30000        25000          625            6.5
3            35000        30000          750            7.0

   Monthly Principal  Monthly Interest
0                400               100
1                440               110
2                500               125
3                600               150

In [29]:
merged_df.fillna(0, inplace=True)

In [31]:
for index, row in merged_df.iterrows():
    merged_df.at[index, 'On road pricing'] += merged_df.at[index, 'On road pricing'] * 0.18
    print(merged_df)

  Company Name_x Model Name Fuel Type Body Style  Car Length Company Name_y  \
0          Honda      Civic    Petrol      Sedan        4650          Honda
1         Toyota    Corolla    Petrol      Sedan        4700         Toyota
2           Ford    Mustang       Gas     Sports        4780           Ford
3      Chevrolet     Camaro       Gas     Sports        4800      Chevrolet

   On road pricing  Loan amount  Monthly EMI  Interest Rate  \
0            34810        20000          500            5.5
1            31860        22000          550            6.0
2            35400        25000          625            6.5
3            41300        30000          750            7.0

   Monthly Principal  Monthly Interest
0                400               100
1                440               110
2                500               125
3                600               150
  Company Name_x Model Name Fuel Type Body Style  Car Length Company Name_y  \
0          Honda      Civic    Petrol      Sedan        4650          Honda
1         Toyota    Corolla    Petrol      Sedan        4700         Toyota
2           Ford    Mustang       Gas     Sports        4780           Ford
3      Chevrolet     Camaro       Gas     Sports        4800      Chevrolet

   On road pricing  Loan amount  Monthly EMI  Interest Rate  \
0          34810.0        20000          500            5.5
1          37594.8        22000          550            6.0
2          35400.0        25000          625            6.5
3          41300.0        30000          750            7.0

   Monthly Principal  Monthly Interest
0                400               100
1                440               110
2                500               125
3                600               150
  Company Name_x Model Name Fuel Type Body Style  Car Length Company Name_y  \
0          Honda      Civic    Petrol      Sedan        4650          Honda
1         Toyota    Corolla    Petrol      Sedan        4700         Toyota
2           Ford    Mustang       Gas     Sports        4780           Ford
3      Chevrolet     Camaro       Gas     Sports        4800      Chevrolet

   On road pricing  Loan amount  Monthly EMI  Interest Rate  \
0          34810.0        20000          500            5.5
1          37594.8        22000          550            6.0
2          41772.0        25000          625            6.5
3          41300.0        30000          750            7.0

   Monthly Principal  Monthly Interest
0                400               100
1                440               110
2                500               125
3                600               150
  Company Name_x Model Name Fuel Type Body Style  Car Length Company Name_y  \
0          Honda      Civic    Petrol      Sedan        4650          Honda
1         Toyota    Corolla    Petrol      Sedan        4700         Toyota
2           Ford    Mustang       Gas     Sports        4780           Ford
3      Chevrolet     Camaro       Gas     Sports        4800      Chevrolet

   On road pricing  Loan amount  Monthly EMI  Interest Rate  \
0          34810.0        20000          500            5.5
1          37594.8        22000          550            6.0
2          41772.0        25000          625            6.5
3          48734.0        30000          750            7.0

   Monthly Principal  Monthly Interest
0                400               100
1                440               110
2                500               125
3                600               150