<a href="https://colab.research.google.com/github/DigvijayPhutane/Python_training/blob/main/python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hello world")

In [ ]:
a= 3 
b = 4 
sum = a+b
print(sum)

In [ ]:
items = 10 
price = 2 
total_price=items*price
print(total_price, items, price)

int , float , string

In [ ]:
x= 10
y= "10"
z=10.2
#here the "" is used for string
sum1 = x+x
sum2= y+y
print(sum1, sum2)
print(type(x) ,type(y),type(z))

In [11]:
mood = "great"
strength = 10.2
rank = 10

list types in python - list always store in []

In [ ]:
std_grade = [2.2,9.2,8.1,"hello",[2,24,30]]
print(std_grade)

In [ ]:
std_grade = [2.2,9.2,8.1,"hello",[2,24,30]]
print(std_grade*3)
#same list 3 times

In [ ]:
std_grade = list(range(0,11))
print(std_grade)
#range is use to store all the numbers from mentioned range

data type attributes

In [ ]:
"helloworld".upper()

In [ ]:
myword = "hello"
myword.title()

In [ ]:
std_garde1 = [1,2,3,4,5,6,7,8,9]
dir(std_grade1)

In [ ]:
dir(str)

Q. Calculate Maximum (E)
Complete line 2 of the code so that it prints out the maximum value of student_grades. In other words, your duty is to find out the appropriate function or method that returns the maximum value of a list and store its output in max_value.

Tip: You can use the introspective dir() function on your local IDE to find out the function/method that returns the maximum value.

In [ ]:
#sol- 
student_grades=[2,5,8,9]
max_value = max(student_grades)
print(max_value)

Q. Count Values (E)
Below you can see a student_grades list. Your task is to use Python to count how many items with a value of 10.0 are in the student_grades list. Once you find the proper list method that counts items, then print out its output using a print() function.

In [1]:
student_grades = [9.1, 8.8, 10.0, 7.7, 6.8, 8.0, 10.0, 8.1, 10.0, 9.9]
print(student_grades.count(10.0))

3

Q. Modify String (E)
Like the previous exercise, find the proper function or method that converts the string in username into lowercase letters and prints out the output.

In [ ]:
username = "Python3"
print(username.lower())

Dictionary type

In [ ]:
#dictionary uses {} brackets 

std_grades = {"science":9.9, "maths":5.6, "history":6.6}
mysum = sum(std_grades.values())
length = len(std_grades)
avg = mysum / length
print("avg of marks is ",avg)
print(std_grades.values())

Q. assign  a dictionary to variable day_temperature . the dic should contain three keys , 'morning' 'noon 'evening' each key should have a float value .

In [ ]:
day_temperatures = {'morning':5.5, 'noon':12.30, 'evening':5.23}