<a href="https://colab.research.google.com/github/DigvijayPhutane/Python_training/blob/main/python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hello world")

In [ ]:
a= 3 
b = 4 
sum = a+b
print(sum)

In [ ]:
items = 10 
price = 2 
total_price=items*price
print(total_price, items, price)

int , float , string

In [ ]:
x= 10
y= "10"
z=10.2
#here the "" is used for string
sum1 = x+x
sum2= y+y
print(sum1, sum2)
print(type(x) ,type(y),type(z))

In [ ]:
mood = "great"
strength = 10.2
rank = 10

list types in python - list always store in []

In [ ]:
std_grade = [2.2,9.2,8.1,"hello",[2,24,30]]
print(std_grade)

In [ ]:
std_grade = [2.2,9.2,8.1,"hello",[2,24,30]]
print(std_grade*3)
#same list 3 times

In [ ]:
std_grade = list(range(0,11))
print(std_grade)
#range is use to store all the numbers from mentioned range

data type attributes

In [ ]:
"helloworld".upper()

In [ ]:
myword = "hello"
myword.title()

In [ ]:
std_garde1 = [1,2,3,4,5,6,7,8,9]
dir(std_grade1)

In [ ]:
dir(str)

Q. Calculate Maximum (E)
Complete line 2 of the code so that it prints out the maximum value of student_grades. In other words, your duty is to find out the appropriate function or method that returns the maximum value of a list and store its output in max_value.

Tip: You can use the introspective dir() function on your local IDE to find out the function/method that returns the maximum value.

In [ ]:
#sol- 
student_grades=[2,5,8,9]
max_value = max(student_grades)
print(max_value)

Q. Count Values (E)
Below you can see a student_grades list. Your task is to use Python to count how many items with a value of 10.0 are in the student_grades list. Once you find the proper list method that counts items, then print out its output using a print() function.

In [ ]:
student_grades = [9.1, 8.8, 10.0, 7.7, 6.8, 8.0, 10.0, 8.1, 10.0, 9.9]
print(student_grades.count(10.0))

3

Q. Modify String (E)
Like the previous exercise, find the proper function or method that converts the string in username into lowercase letters and prints out the output.

In [ ]:
username = "Python3"
print(username.lower())

Dictionary type

In [ ]:
#dictionary uses {} brackets 

std_grades = {"science":9.9, "maths":5.6, "history":6.6}
mysum = sum(std_grades.values())
length = len(std_grades)
avg = mysum / length
print("avg of marks is ",avg)
print(std_grades.values())

Q. assign  a dictionary to variable day_temperature . the dic should contain three keys , 'morning' 'noon 'evening' each key should have a float value .

In [ ]:
day_temperatures = {'morning':5.5, 'noon':12.30, 'evening':5.23}

Q append first item of weekend to workdays

In [ ]:
workdays=["Mon","Tues","Wed","Thir","Fri"]
weekend=["Sat","sun"]
print(weekend)
print(workdays)
workdays.append(weekend[0])
print(workdays)
print(workdays[1:4]) 

#to access the particular portion of list
print(workdays[0:2]) #to access first two items 
print(workdays[-1]) #negative indexes

['Sat', 'sun']
['Mon', 'Tues', 'Wed', 'Thir', 'Fri']
['Mon', 'Tues', 'Wed', 'Thir', 'Fri', 'Sat']
['Tues', 'Wed', 'Thir']
['Mon', 'Tues']
Sat

dictionary

In [ ]:
ritesh = {"good":1000,"pagal":20000}
print(ritesh)
ritesh["good"] #to access the key values of dictionary

{'good': 1000, 'pagal': 20000}

1000

conversion between datatypes
Tip: Converting Between Datatypes
Sometimes you might need to convert between different data types in Python for one reason or another. That is very easy to do:

From tuple to list:

>>> cool_tuple = (1, 2, 3)
>>> cool_list = list(cool_tuple)
>>> cool_list
[1, 2, 3]


From list to tuple:

>>> cool_list = [1, 2, 3]
>>> cool_tuple = tuple(cool_list)
>>> cool_tuple
(1, 2, 3)


From string to list:

>>> cool_string = "Hello"
>>> cool_list = list(cool_string)
>>> cool_list
['H', 'e', 'l', 'l', 'o']


From list to string:

>>> cool_list = ['H', 'e', 'l', 'l', 'o']
>>> cool_string = str.join("", cool_list)
>>> cool_string
'Hello'
As can be seen above, converting a list into a string is more complex. Here str() is not sufficient. We need str.join(). Try running the code above again, but this time using str.join("---", cool_list) in the second line. You will understand how str.join() works.

cheatsheet 
Cheatsheet: Operations with Data Types
In this section, you learned that:



Lists, strings, and tuples have a positive index system:

["Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"]
   0      1      2      3      4      5      6


And they have a negative index system as well:

["Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"]
  -7     -6     -5     -4     -3     -2     -1


In a list, the 2nd, 3rd, and 4th items can be accessed with:

days = ["Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"]
days[1:4]
Output: ['Tue', 'Wed', 'Thu']


First three items of a list:

days = ["Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"]
days[:3]
Output:['Mon', 'Tue', 'Wed'] 


Last three items of a list:

days = ["Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"]
days[-3:]
Output: ['Fri', 'Sat', 'Sun']
Everything but the last:

days = ["Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"]
days[:-1] 
Output: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'] 
Everything but the last two:

days = ["Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"]
days[:-2] 
Output: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri'] 


A dictionary value can be accessed using its corresponding dictionary key:

phone_numbers = {"John":"+37682929928","Marry":"+423998200919"}
phone_numbers["Marry"]
Output: '+423998200919'